<h1><%= @project.name %> </h1>

<ul>

	<% @entries.each do |entry| %>
	<li>
		<%= entry.hours %> h
		<%= entry.minutes %> m -
		<%= entry.date %>
    </li>

    
  <% end %>
</ul>
 <p> <%= pluralize(@project.hours_worked(Date.today.month, Date.today.year), 'hour', 'hours') %> </p>

